// Variables
@import 'variables';

.cup {
  cursor: pointer;
}

.app {
  .sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100; /* Behind the navbar */
    padding: 48px 0 0; /* Height of navbar */
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
    background-color: #3a4651;

    .sidebar-sticky {
      position: relative;
      top: 0;
      height: calc(100vh - 48px);
      padding-top: .5rem;
      overflow-x: hidden;
      overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */

      > ul {
        li {
          .nav-link {
            padding: 1rem;
            padding-inline-start: 1.25rem;
            color: $gray-500;

            &.dropable {
              &:after {
                content: '';
                border: solid $purple;
                border-width: 0 3px 3px 0;
                display: inline-block;
                padding: 5px;
                transform: rotate(-45deg);
                vertical-align: text-top;
                float: right;
                transition: all 0.3s;
              }

              &.dropped {
                &:after {
                  transform: rotate(45deg);
                }
              }

            }

            .fa {
              margin-inline-end: 0.25rem;
            }

            &:hover {
              background-color: #2d363f;
              color: $white;
            }

            &.router-link-exact-active {
              background-color: $purple;
              color: $white;
            }
          }

          .nav-link + .collapsing,
          .nav-link + .collapse {
            background-color: #333e48;

            a {
              padding-inline-start: 4rem;
            }
            .nav-link + .collapsing,
            .nav-link + .collapse {
              background-color: #2d3741;

              a {
                padding-inline-start: 8rem;
              }
            }
          }
        }
      }
    }

    @supports ((position: -webkit-sticky) or (position: sticky)) {
      .sidebar-sticky {
        position: -webkit-sticky;
        position: sticky;
      }
    }
  }

  main {
    min-height: calc(100vh - (56px * 2));
  }
}
